@{
    ViewData["Title"] = "Home Page";
}
@model List<massage.Models.Timeslot>

@{
    foreach (Timeslot t in Model)
    {
        <p>Timeslot date: @t.Date (@t.Date.DayOfWeek)</p>
        <p>Timeslot time: @t.Hour</p>
        foreach (PAvailTime p in t.PsAvail)
        {
            <p>Practitioner available: @p.Practitioner.Username</p>
        }
    }
}
